<div class="row">
  <div class="col-xs-6 col-sm-3">
    <input ng-model="display.search" placeholder="Search Book">
  </div>
  <div class="col-xs-6 col-sm-3">
    <button class="btn col-xs-12 sort-button" ng-click="display.sortBy('name')">Sort By Name
    <span class="sortorder" ng-show="display.propertyName === 'name'" ng-class="{reverse: display.reverse}"></span></button>

  </div>
  <div class="col-xs-6 col-sm-3">
    <button class="btn col-xs-12 sort-button" ng-click="display.sortBy('numberOfPages')">Sort By Pages
    <span class="sortorder" ng-show="display.propertyName === 'numberOfPages'" ng-class="{reverse: display.reverse}"></span></button>
  </div>
  <div class="col-xs-6 col-sm-3">
    <button class="btn col-xs-12 sort-button" ng-click="display.sortBy('released')">Sort By Published date
    <span class="sortorder" ng-show="display.propertyName === 'released'" ng-class="{reverse: display.reverse}"></span></button>
  </div>
</div>
